<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@drawable/lavie"
        android:label="@string/app_name"
        android:roundIcon="@drawable/lavie"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ARItem"></activity>
        <activity
            android:name=".SearchItemActivity"
            android:label="Products">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".ui.login.LoginActivity"
            android:label="Login"></activity>
        <activity
            android:name=".CheckoutActivity"
            android:label="Checkout"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.SEARCH" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <meta-data
            android:name="com.google.ar.core"
            android:value="required" />
    </application> <!-- Both "AR Optional" and "AR Required" apps require CAMERA permission. -->
    <uses-feature android:name="android.hardware.camera.ar" />

    <uses-feature
        android:glEsVersion="0x00030000"
        android:required="true" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>